{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!--Displaying staff reviews-->
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-location_name">{{ post.location_name }}</h1>
        <p class="post-subtitle">Pup team writer: {{ post.pup_team }} | Rating: {{ post.rating }}🐾</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col post-card mb-4  mt-3 left  top">
      <div class="post-card-body">
        <p class="post-card-text">{{ post.review_content | safe }}</p>
      </div>
    </div>
  </div>
  <!-- Displaying count of user reviews -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ user_review_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying User Reviews -->
  <div class="row">
    <div class="col-md-8 post-card mb-4 mt-3 user-reviews">
      <h3>What other pup owners think!</h3>
      <div class="post-card-body">
        {% for user_review in user_reviews %}
        <div class="p-2 user_reviews
                  {% if not user_review.approved and user_review.reviewer == user %}
                  faded{% elif not user_review.approved %} d-none{% endif %}">
          <p class="font-weight-bold reviewer-name">
            {{ user_review.reviewer }}'s review: {{ user_review.your_rating }}🐾
            <span class="font-weight-normal">
            </span>
          </p>
          <div id="user_review{{ user_review.id }}">
            {{ user_review.your_review | linebreaks }}
          </div>
          {% if not user_review.approved and user_review.reviewer == user %}
          <p class="approval">
            This review is awaiting approval
          </p>
          {% endif %}
          {% if user.is_authenticated and user_review.reviewer == user %}
          <a href = "{% url 'delete_user_reviews' slug=post.slug user_review_id=user_review.id %}">Delete</a>
          <a href = "{% url 'edit_user_reviews' slug=post.slug user_review_id=user_review.id %}" target="_blank">Edit</a>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New User Reviews -->
    <div class="col-md-4 post-card mb-4 mt-3">
      <div class="post-card-body">
        {% if user.is_authenticated %}
        <h3>Leave a review:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="userReviewForm" method="post" style="margin-top: 1.3em;">
          {{ user_review_form | crispy }}
          {% csrf_token %}
          <button id="submit-button" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock content %}