{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<body>

    <head>
        <title>Ey Up Me Pup!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="EY Up Me Pup! - website reviewing dog-friendly places in Nottingham, England">
        <meta name="keywords" content="Nottingham, dogs, dog-friendly, dog-friendly pubs, Ey Up Me Pup!">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Google Fonts CSS -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
        </style>

        <!-- Font Awesome CSS -->
        <script src="https://kit.fontawesome.com/88d3278dbb.js" crossorigin="anonymous"></script>

        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon/site.webmanifest">
    </head>

    <!--Navigation banner-->
    <header>
        <div class="row no-gutters">
            <a href="{% url 'home' %}" class="col-md-4 logo" aria-label="Clicking here takes you to home page"></a>
            <div class="col-md-8">
                <div class="row no-gutters bg-color-title">
                    <div class="col heading">
                        <h1 class="title">Ey Up Me Pup! <i class="fa-solid fa-paw"></i></h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <ul id="nav" class="list-inline menucontainer">
                            <li class="col-3 ui-menu-color-home list-inline-item menuitem">
                                <a class="nav-link" aria-current="page" href="{% url 'home' %}"
                                    aria-label="Cicking here takes you to the homepage">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="col-3 ui-menu-color-logout list-inline-item menuitem">
                                <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_logout' %}"
                                    aria-label="Cicking here takes you to the logout page">Logout</a>
                            </li>
                            {% else %}
                            <li class="col-3 ui-menu-color-register list-inline-item menuitem">
                                <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_signup' %}"
                                    aria-label="Cicking here takes you to the register page">Register</a>
                            </li>
                            <li class="col-3 ui-menu-color-login list-inline-item menuitem">
                                <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_login' %}"
                                    aria-label="Cicking here takes you to the login page">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!--About us section-->
                <div class="row no-gutters bg-color-subtitle">
                    <div class="col subheading">
                        <h3 class="subtitle">Who are we?</h3>
                        <p class="about-pup">We are 'Ey Up Me Pup!' A team of dog lovers in Nottingham who want to
                            showcase
                            all the wonderful dog-friendly places in our city. <br>
                            Our pup team have written reviews of some of our favourite locations but, we don't
                            want you to just take our word for it, we also want to
                            hear from you! You can write your own reviews on each of the locations we have visited as
                            well.<br>
                            Thank you for being part of our pup community!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- displaying Django messages -->
    <div class="container messages">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>


    <!-- Footer -->

    <footer class="container-fluid">
        <div id="footer-details" class="row">
            <div class="col-12" class="dog-socials">
                <p>
                    <a href="https://www.jerrygreendogs.org.uk/rehoming-services/nottinghamshire-centre/"
                        target="_blank" aria-label="Link to Jerry Green's dog rescue"><i
                            class="fa-solid fa-dog"></i></a>
                    <a href="https://rspca-nottinghamandnotts.org.uk/" target="_blank"
                        aria-label="Link to RSPCA Nottingham website"><i class="fa-solid fa-bowl-food"></i></a>
                    <a href="https://www.eastmidlandsdogrescue.org/" target="_blank"
                        aria-label="Link to East Midland's dog rescue"><i class="fa-solid fa-bone"></i></a>
                </p>
            </div>
            <div>
                {% if user.is_authenticated %}
                <p class="text-end m-3">You are logged in as {{ user }}</p>
                {% else %}
                <p class="text-end m-3">You are not logged in</p>
                {% endif %}
            </div>
        </div>
    </footer>

    <!--JavaScript-->
    {% block extras %}
    {% endblock %}


</body>

</html>